@import "pages/skincare";

table{
    background-color: burlywood;
    font-family: $fontBenne;
    }
    
    .h2{
        color: rgb(167, 16, 99);
        font-weight: bolder;
        font-family: $fontBenne;
        }

@import "pages/Skincareinargentina";

        $tamanio: 20px;

        .tamano{
            font-size: $tamanio;
            color: $bordo;
        }

        .tamano2{
            font-size: $tamanio + 1px;
            color: $bordo;
        }

    

    h2{
        @if $tamanio > 20px{
            color: $bordo2;
        }@else if $tamanio < 15px{
            color: $bordo;
        }@else{
            color: black;
        }
    }

    .text1{
        font-family:'Playfair Display', serif;
        font-weight: lighter;
    }

    .text2{
        @extend .text1;
        letter-spacing: 5px;
    }

    $yellow: #f4d35e;

    .HeaderArg{
        background-color: $bordo;
        height: 100px;
        width: 100%;
        font-size: 30px;
        color: cornsilk;
        font-family:'Playfair Display', serif;
        }

    

    @mixin sizes($width,$height) {
        width: $width;
        height: $height;
        }

    .sizediv{
        
        @include sizes(200px,100px)
    }

    $size1: 10px;
    

 .divstyles1{
     font-size: $size1;
     font-weight: bolder;
     }

.divstyle2{
    font-size: $size1 + 5px;
    font-weight: lighter;
}

.sectiondivs{
    @if $size1 < 15px{
    background-color: $bordo;
}@else if $size1 > 10px{
    background-color: $lightorange;
    }@else{
    background-color: white; 
}
}
    